* {
    margin: 0;
    box-sizing: border-box;
    font-family: raleway, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    text-align: center;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 24px;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

p {
    text-align: center;
    color: white;
}

.banner {
    background-image: url(assets/images/banner.png), linear-gradient(rgb(0, 0, 0), rgb(2, 33, 43), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    border-bottom: 1px solid #33A8DB80;
    padding-top: 60px;
    padding-bottom: 60px;
}

.banner .banner-content {
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    display: flex;
    margin: auto;
    justify-content: center;
    border-radius: 50%;
    padding: 16px;
    background-color: rgba(0, 0, 0, .2);
    width: 260px;
    height: 260px;
    align-items: center;
}

.banner p {
    font-size: 1.25rem;
    padding-top: 15px;
}

button {
    text-transform: uppercase;
    color: #33A8DB;
    font-size: 1.0rem;
    font-weight: bold;
    width: 90%;
    max-width: 325px;
    padding: 16px 32px;
    border: solid 2px #33A8DB;
    display: flex;
    margin: 15px auto;
    justify-content: center;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
    letter-spacing: 4px;
    cursor: pointer;
}

#course-content {
    background-color: black;
    padding-top: 90px;
    padding-bottom: 90px;
}

#course-content p {
    font-size: 1.0rem;
    width: 90%;
    max-width: 784px;
    margin: auto;
}

.modules-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.module {
    background-color: #252525;
    text-align: center;
    border: solid 2px #33A8DB;
    border-radius: 100px;
    width: 90%;
    max-width: 530px;
    padding: 16px;
    margin-top: 0;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    color: white;
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    background-image: url(assets/images/woman-code.png), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 150px 5%;
    min-height: 560px;
    display: flex;
    align-items: center;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.3rem;
    text-transform: lowercase;
    width: 90%;
    max-width: 280px;
    text-shadow: 3px 2px #33A8DB;
    text-align: center;
}

#professional-challenges {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #33A8DB80;
    text-align: center;
}

#professional-challenges h2 {
    margin-top: 0;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    padding: 0 10px;
}

#professional-challenges img {
    margin: 30px auto;
    display: block;
    width: 90%;
    max-width: 500px;
}

#professional-challenges p {
    font-size: 1.0rem;
    width: 90%;
    max-width: 784px;
    margin: auto;
}

footer {
    background-color: black;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    padding: 60px 0;
    text-align: center;
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    max-width: 150px;
    margin-bottom: 10px;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px) {
    #transform-world {
        padding: 80px 5%;
        background-position: center;
    }

    #transform-world p {
        font-size: 1.8rem;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }

    button {
        width: 90%;
        font-size: 0.9rem;
        padding: 12px 20px;
        letter-spacing: 2px;
    }
}